.venv/
.env
.tmp/
.pip-cache/
.python-version
.ruff_cache/
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage.*
.coverage
htmlcov/
pip-wheel-metadata/
dist/
build/
*.egg-info/
outputs/
